<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apt.reservation.mapper.ReservationMapper">

    <!-- 상태 업데이트  -->
    <update id="updateStatusToCompleted">
        UPDATE reservation
        SET status = CASE
             WHEN status = 'CONFIRMED' THEN 'COMPLETED'
             WHEN status = 'PENDING'   THEN 'CANCELLED'
        END
        WHERE status IN ('CONFIRMED', 'PENDING')
        AND reservation_date &lt; #{today}
    </update>
    <!-- 예약 가능 시간대 조회 -->
    <select id="findAvailableTime"
            parameterType="com.apt.reservation.dto.request.ReservationReq"
            resultType="com.apt.reservation.dto.response.AvailableSlotRes">
        SELECT
            start_time  AS startTime,
            COUNT(*)    AS reservedCount
        FROM reservation
        WHERE facility_id = #{facilityId}
          AND reservation_date = #{reservationDate}
          AND status = 'CONFIRMED'
        GROUP BY start_time
        ORDER BY start_time
    </select>

    <!-- 좌석 중복 체크 -->
    <select id="countSeatReserved">
        SELECT COUNT(*) FROM reservation
        WHERE facility_id = #{facilityId}
          AND reservation_date = #{reservationDate}
          AND start_time = #{startTime}
          AND seat_no = #{seatNo}
          AND status = 'CONFIRMED'
        FOR UPDATE
    </select>
    <!-- 정원 초과 체크 -->
    <select id="countReserved">
        SELECT COUNT(*) FROM reservation
        WHERE facility_id = #{facilityId}
          AND reservation_date = #{reservationDate}
          AND start_time = #{startTime}
          AND status = 'CONFIRMED'
    </select>
    <!-- 예약 생성 -->
    <insert id="insertReservation"
            parameterType="com.apt.reservation.dto.request.ReservationReq"
            useGeneratedKeys="true"
            keyProperty="reservationId">
        INSERT INTO reservation
            SET user_id = #{userId}
            , facility_id = #{facilityId}
            , reservation_date = #{reservationDate}
            ,start_time = #{startTime}
            , end_time = #{endTime}
            , seat_no =  #{seatNo}
            , program_id = #{programId}
            , status = #{status}
    </insert>

    <!-- 예약 단건 조회 - facility JOIN으로 facilityName 가져오기 -->
    <select id="findReservationById"
            resultType="com.apt.reservation.dto.response.ReservationRes">
        SELECT
            r.reservation_id,
            r.user_id,
            r.facility_id,
            f.name AS facilityName,
            r.reservation_date,
            r.start_time,
            r.end_time,
            r.seat_no,
            r.status,
            r.created_at
        FROM reservation r
                 JOIN facility f ON f.facility_id = r.facility_id
        WHERE r.reservation_id = #{reservationId}
    </select>

    <!-- 내 예약 조회 - 이용예정/지난내역/시설이름 필터 -->
    <select id="findAll" resultType="com.apt.reservation.dto.response.ReservationRes">
        SELECT r.reservation_id,
               r.user_id,
               f.name as facilityName,
               r.reservation_date,
               r.start_time,
               r.end_time,
               r.seat_no,
               r.status

        FROM reservation r
        left join facility f
        ON r.facility_id = f.facility_id
        WHERE r.user_id = #{userId}
        <if test='status == "CONFIRMED"'>
            AND r.status IN ('CONFIRMED', 'PENDING')
        </if>
        <if test='status == "COMPLETED"'>
            AND r.status IN ('COMPLETED', 'CANCELLED')
        </if>
        <if test="facilityName != null and facilityName != ''">
            AND f.name LIKE CONCAT('%', #{facilityName}, '%')
        </if>
        ORDER BY r.reservation_date DESC, r.start_time DESC
        LIMIT #{startIdx}, #{size}
    </select>



</mapper>